html, body {
	margin: 0px; /** ќтступы со всех сторон равны 0px **/
	padding: 0px; /** ќтступы со всех сторон равны 0px **/
	font-family: Arial, Helvetica, 'sans-serif'; /** Ўрифты по умолчанию **/
}

.container {
	width: 1000px;
	left: 50%;
}

.header-descript {
	background: #563d7c;
	height: 200px;
	width: 1000px;
	margin-top: 10px;
	color: white;
}

.header-descript .header-title {
	font-size: 42px;
	width: 800px;
	text-align: center;
	margin-left: 100px;
}

.header-descript .header-description {
	font-size: 20px;
	width: 800px;
	text-align: center;
	margin-left: 100px;
	font-style: italic;
}

.image-form-container {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.image-form-container .left-photo {
	float: left;
	background: #eee;
	width: 400px;
	height: 300px;
}

.image-form-container .right-form  {
	float: right;
	width: 500px;
	margin-top: 40px;
}

.image-form-container .right-form  label { 
	margin-top: 10px;
}
.image-form-container .right-form  .form-group {
	margin-top: 10px;
	float: left;
	width: 100%;
}

.image-form-container .right-form  .btn {
	float: right;
}

.sale {
	float: left;
	width: 100%;
	background: #563d7c;
	height: 80px;
	margin-top: 10px;
	color: white;
}

.sale .title {
	font-size: 28px;
	text-align: center;
	width: 800px;
	margin-left: 100px;
}

.triggers {
	float: left;
	width: 100%;
	height: 80px;
	margin-top: 10px;
	height: 160px;
}

.triggers .triggers-title {
	width: 800px;
	font-size: 24px;
	text-align: center;
	margin-left: 100px;
}

.triggers ul {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
}

.triggers ul li {
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 230px;
	height: 100px;
	border: 1px solid #eee;
}

.responses {
	float: left;
	width: 100%;
	height: 80px;
	margin-top: 10px;
	height: 180px;
}

.responses .responses-title {
	width: 800px;
	font-size: 24px;
	text-align: center;
	margin-left: 100px;
}

.responses ul {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	width: 100%;
	float: left;
}

.responses ul li {
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 230px;
	height: 100px;
	border: 1px solid #eee;
}

.footer {
	float: left;
	height: 50px;
	text-align: center;
	background: #eee;
	width: 100%;
}